<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <style>
        body,div,input,button,h1{
            margin: 0;
            padding: 0;
        }
        #dd #ii,#btn{
            font-size: 30px;
        }
        #dd>#hh{
            width: 380px;
            height: 200px;
            background-color: pink;
            border: 2px solid black;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <div id="dd">
        <input type="text" id="ii" name="listInfo" list="listInfo" maxlength="20" placeholder="输入搜索内容">
        <button id="btn">搜索</button>
        <h1 id="hh"></h1>
        <datalist id="listInfo">
            <option value="python简介">python简介</option>
            <option value="python教程">python教程</option>
            <option value="python官网">python官网</option>
        </datalist>
        <option th:each="background:${printerBackgrounds}" 
        th:text="${background.name}" th:value="${background.id}" 
        th:selected="${background.id == printer.background_id}"></option>
    
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script>
        $("#dd #btn")[0].onclick = function(){
            var xhr = new XMLHttpRequest();
            var str = "/demo1?info=" + $("#dd>#ii").val();
            xhr.open("get", str, true);
            xhr.onreadystatechange = function(){
                if(xhr.readyState==4 && xhr.status==200){
                    $("#hh").html(xhr.responseText);
                }
            }
            xhr.send(null);
        }
    </script>
</body>
</html>