<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button>点我</button>  
    <script src="../static/jquery.min.js"></script> 
    <script>
        $('button').click(function(){
            $.ajax({
                url:'/ajax_server',
                type:'post',
                dataType:'json',
                contentType:'application/json',
                // data:JSON.stringify({uname:"陈卓"}),
                data: '{"uname":"陈卓"}', 
                success:function(res){
                    console.log(res)
                },
                error:function(){
                    alert('Server is busy')
                },
            })
        })
    </script>
</body>
</html>