<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <style>
        header, nav{
            position: relative;
        }
        nav{
            font-size: 30px;

            background-color: white;
            margin-top: -80px;
            z-index: 2;
            padding: 10px, 10px;
            box-shadow: 0 0 5px #666;
        }
        nav .row{

        }
    </style>
</head>
<body>
    <header>
        <img class="img-responsive" src="../static/img/xueyuan.png" alt="">
    </header>
    <div class="container">
        <nav>
            <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div>班级:</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <a href="#">AID1910</a>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <a href="#">AID1910</a>
                    </div> 
                    <div class="col-lg-2 col-md-2">
                        <a href="#">AID1910</a>
                    </div> 
                </div>
        
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div>中心:</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <a href="#">武昌中心</a>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <a href="#">武昌中心</a>
                    </div> 
                    <div class="col-lg-2 col-md-2">
                        <a href="#">武昌中心</a>
                    </div> 
                </div>
        </nav>
        
    </div>
    <footer></footer>
</body>
</html>