<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小词典查询页</title>
    <link rel="shortcut icon" href="../static/img/ico/01.ico">
    <link rel="stylesheet" href="../static/css/dict.css" type="text/css">
</head>
<body>
    <div id="dd">
        <div id="dd1">
            <div id="img1"></div>
            <ul>
                <li id="li1">在线词典</li>
                <li id="li3">历史记录</li>
                <li id="li4">单词小本</li>
                <li id="li5">更换壁纸</li>
                <li id="li6">更多功能</li>
            </ul>
        </div>
        <div id="dd2">
            <div id="dd2_1">
                <input id="word" type="text" name="word" placeholder="中英互译">
                <button id="btn1">查询</button>
                <div id="show"></div>
            </div>
            <div id="dd2_3">
                <div>最近查询记录</div>
                <ul>
                    <li id="li1">word</li>
                    <li id="li2">love</li>
                    <li id="li3">love</li>
                    <li id="li4">love</li>
                    <li id="li5">love</li>
                    <li id="li6">love</li>
                    <li id="li7">love</li>
                    <li id="li8">love</li>

                </ul>
            </div>
            <div id="dd2_4">
                <div>收藏的单词</div>
                <ul>
                    <li id="li1">word</li>
                    <li id="li2">love</li>
                    <li id="li3">love</li>
                    <li id="li4">love</li>
                    <li id="li5">love</li>
                    <li id="li6">love</li>
                    <li id="li7">love</li>
                    <li id="li8">love</li>

                </ul>
            </div>
            <div id="dd2_5">
                <div></div>
                <img id="img01" src="../static/img/bg_img/01.jpeg" width="100px" height="60px" alt="">
                <img id="img02" src="../static/img/bg_img/02.jpg" width="100px" height="60px" alt="">
                <img id="img03" src="../static/img/bg_img/03.jpg" width="100px" height="60px" alt="">
                <img id="img04" src="../static/img/bg_img/04.jpg" width="100px" height="60px" alt="">
                <img id="img05" src="../static/img/bg_img/05.jpg" width="100px" height="60px" alt="">
                <img id="img06" src="../static/img/bg_img/06.jpg" width="100px" height="60px" alt="">
                <img id="img07" src="../static/img/bg_img/07.jpg" width="100px" height="60px" alt="">
                <img id="img08" src="../static/img/bg_img/08.jpg" width="100px" height="60px" alt="">
                <img id="img09" src="../static/img/bg_img/09.jpg" width="100px" height="60px" alt="">
                <img id="img10" src="../static/img/bg_img/10.jpg" width="100px" height="60px" alt="">
                
                
            </div>
            <div id="dd2_6">正在开发<br>尽请期待...

            </div>
        </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
 
    <!-- 左侧边栏设置 -->
    <script>
        // 左侧边栏设置
        $("#li1").click(function(){
            setZIndex("1");
        });
        $("#li3").click(function(){
            setZIndex("3");
        });
        $("#li4").click(function(){
            setZIndex("4");
        });
        $("#li5").click(function(){
            setZIndex("5");
        });
        $("#li6").click(function(){
            setZIndex("6");
        });


        function setZIndex(target){
            var arr = {"1":$("#dd2>#dd2_1"), "3":$("#dd2>#dd2_3"), "4":$("#dd2>#dd2_4"), "5":$("#dd2>#dd2_5"), "6":$("#dd2>#dd2_6")};
            $.each(arr, function(i, view){
                if(i==target){
                    view.css("zIndex", 2);
                }else{
                    view.css("zIndex", 1);
                }
            });
        }
    </script>
    
    <!-- 查询单词界面 -->
    <script>
        // 查询单词界面
        var consult = $("#dd>#dd2>#dd2_1>#btn1");
        var switchover = $("#dd>#dd2>#dd2_1>#btn1");
        var show = $("#dd>#dd2>#dd2_1>#show");

        consult.click(function(){
            var word = $("#dd>#dd2>#dd2_1>#word").val();
            if(word==""){
                show.html("请输入要查询的单词!").css("color", "red");
            }else{
                $.ajax({
                    url: "/dict_data",
                    type: "post",
                    data: JSON.stringify({"userWord": word}),
                    contentType: "application/json",
                    dataType: "json",
                    success: function(res){
                        if(res.code==77){
                            show.html(res.data);                            
                        }else if(res.code==44){
                            alert(res.code + "  " + res.data)
                        }
                    },
                });
                // var xhr = new XMLHttpRequest();
                // xhr.open("post", "/dict_data", true);
                // xhr.onreadystatechange = function(){
                //     if(xhr.readyState==4&&xhr.status==200){
                //         var json_obj = JSON.parse(xhr.responseText);
                //         if(json_obj.code==77){
                //             show.html(json_obj.data);                            
                //         }else if(json_obj.code==44){
                //             alert(json_obj.code + "  " + json_obj.data)
                //         }
                //     }
                // }
                // var json_obj = {"userWord": word};
                // var json_str = JSON.stringify(json_obj);
                // xhr.setRequestHeader('Content-Type','application/json');
                // xhr.send(json_str); 
            }
        })
        



    </script>

    <!-- 切换壁纸界面 -->
    <script>
        // 设置切换壁纸界面
        function changeBgImage(img){
            document.body.style.backgroundImage = "URL("+img+")"; 
        }
        $("#dd>#dd2>#dd2_5>#img01").click(function(){
            changeBgImage("../static/img/bg_img/01.jpeg")
        });
        $("#dd>#dd2>#dd2_5>#img02").click(function(){
            changeBgImage("../static/img/bg_img/02.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img03").click(function(){
            changeBgImage("../static/img/bg_img/03.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img04").click(function(){
            changeBgImage("../static/img/bg_img/04.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img05").click(function(){
            changeBgImage("../static/img/bg_img/05.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img06").click(function(){
            changeBgImage("../static/img/bg_img/06.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img07").click(function(){
            changeBgImage("../static/img/bg_img/07.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img08").click(function(){
            changeBgImage("../static/img/bg_img/08.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img09").click(function(){
            changeBgImage("../static/img/bg_img/09.jpg")
        });
        $("#dd>#dd2>#dd2_5>#img10").click(function(){
            changeBgImage("../static/img/bg_img/10.jpg")
        });

    </script>
</body>
</html>









