<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小词典首页</title>
    <link rel="shortcut icon" href="../static/img/ico/01.ico">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div id="dd_bg"></div>
    <div id="dd">
        <div id="dd1">
            <span id="s1">姓名</span><input id="i1" type="text" name="userName" maxlength="10">
        </div>
        <div id="dd2">
            <span id="s2">密码</span><input id="i2" type="password" name="password" maxlength="15">
        </div>
        <div id="dd3">
            <button id="btn1">登录</button><button id="btn2">注册</button>
        </div> 
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script>

        $("#btn1").click(function(){
            var userName = $("#dd>#dd1>#i1").val();
            var userPwd = $("#dd>#dd2>#i2").val();
            if(userName==""||userPwd==""){
                alert("请输入用户名或密码!")
            }else{
                var json_obj = {name:$("#dd>#dd1>#i1").val(), password:$("#dd>#dd2>#i2").val()};
                $.ajax({
                        url:"/index_data",
                        type: "post",
                        data: JSON.stringify(json_obj),
                        contentType:'application/json',
                        dataType: "json",
                        success: function(res){
                            if(res.code==77){
                                location.href = "http://127.0.0.1:5000/dict";
                            }else if(res.code==44){
                                alert("登录失败,请重新输入!")
                            }
                        },
                        error: function(){
                            alert("请求失败,请重试!");
                        },        
                });
               
            }
        });

        $("#btn2").click(function(){
            location.href = "http://127.0.0.1:5000/register";
        })

    </script>
</body>
</html>