<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table{
            text-align: center;
        }
    </style>
</head>
<body>
    <button id="btn">获取数据</button>
    <table border="2px">
        <thead>
            <tr>
                <th>id</th>
                <th>count</th>
                <th>name</th>
                <th>default_image_url</th>
                <th>price</th><!-- ￥99 -->
                <th>selected</th><!-- input type=checkbox 复选框 选中 -->
            </tr>
        </thead>
        <tbody id="tby">
            <!-- 显示内容 -->
        </tbody>
    </table>
    <script src="../static/jquery.min.js"></script>
    <script>
        //当按钮被点击时  向/data_server发送get请求
        //将响应的结果  json串 解析 放入页面的tbody中
        $("#btn").click(function(){
            var xhr = new XMLHttpRequest();
            xhr.open("get", "/data_server", true);
            xhr.onreadystatechange = function(){
                if(xhr.readyState==4&&xhr.status==200){
                    var json_obj = JSON.parse(xhr.responseText)
                    $.each(json_obj.cart, function(i, info){
                        $("#tby").append($("<tr></tr>"));
                        $.each(info, function(key, value){
                            var target = $("#tby tr:last");
                            var ele = "" 
                            if(key=="default_image_url"){
                                ele = "<td><img src='../static/img/"+value+"'></td>";
                            }else if(key=="price"){
                                ele = $("<td></td>").html("￥"+value);
                            }else if(key=="selected"){
                                if(value==true){
                                    ele = $("<td><input type='checkbox' checked></td>");
                                }else{
                                    ele = $("<td><input type='checkbox'></td>");    
                                }
                                
                            }else{
                                ele = $("<td></td>").html(value);
                            }
                            target.append(ele);
                        });
                    });                   
                }
            }
            xhr.send(null);
        })
    </script>
</body>
</html>