<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id="btn">获取数据</button>
    <table border="2px">
        <thead>
            <tr>
                <th>id</th>
                <th>count</th>
                <th>name</th>
                <th>default_image_url</th>
                <th>price</th><!-- ￥99 -->
                <th>selected</th><!-- input type=checkbox 复选框 选中 -->
            </tr>
        </thead>
        <tbody id="tby">
            <input type="checkbox" checked>
        </tbody>
    </table>
    <script src="../static/jquery.min.js"></script>
    <script>
        var arr = [{
            "id":"1",
            "count":"11",
            "name":"蓝色小尺寸",
            "default_image_url":"01.jpg",
            "price":100,
            "selected":true
        }]
        $("#btn").click(function(){


            $.each(arr, function(i, item){
                $("#tby").append($("<tr></tr>").prop("id", i));
                $.each(item, function(key, value){
                    if(key=="default_image_url"){
                        console.log(key, value);
                        $("#tby #" + i).append($("<td><img src = '../static/img/01.jpg'></td>").prop("id", "tdi"));
                        // $("#tby tr #tdi").append($("<img>").porp("src", "../static/img/"+value));
                    }else{
                        $("#tby tr").append($("<td></td>").html(value));
                    }
                })
            })
        })

    </script>

</body>
</html>